li{
	list-style-type: none;

}
header{
	margin-bottom: 70px;
}

a{
	text-decoration: none;
}
#up{
	margin: 0;
	padding-left: 0;
	display: inline-flex;
	padding-right: 10px;
	text-align: center;

}
body{
	margin-left: 170px;
	margin-right: 170px;
	font-family: Helvetical sans-serif;
}